.product-card {
    margin-bottom: 20px;
    background-color: #f8f9fa; /* Fond gris */
    cursor: pointer;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.client-group {
    width: 100%;
    margin-bottom: 40px;
}
.client-name {
    margin-bottom: 20px;
}
#product-detail .card img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#product-detail .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-detail .row {
    width: 100%;
}
.breadcrumb {
    background-color: #e9ecef;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.card:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: box-shadow 0.3s ease-in-out;
}


.carousel-item img {
            width: 100%;
            height: auto;
}
.thumbnail img {
            cursor: pointer;
}
